.overview-container {
    position: absolute;
	width: 696px;
	height: 172px;
	left: 27px;
	top: 217px;
}

.weather-container {
    position: absolute;
	width: 430px;
	height: 172px;
	left: 731px;
	top: 217px;
}

.operator-container {
    position: absolute;
	width: 1135px;
	height: 547px;
	left: 27px;
	top: 397px;
}

.vehicle-container {
    position: absolute;
	width: 240px;
	height: 516px;
	left: 1169px;
	top: 217px;
}

#drawer-main {
	background: #E5E5E5;
}
