:root {
    --day--assigned: rgba(128, 199, 214, 0.3);
    --day--completed: #80C7D6;
    --night--assigned: rgba(166, 128, 214, 0.3);
    --night--completed: #A680D6;
    --unassigned: #FFFFFF;
    --missed: #D68080;
    --disabled: #DCDCDC;
}

.rtBlock {
    height: 40px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 3px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.rtBlock:hover {
    transform: translateY(-2px);
}

.rtBlock .routeTxt {
    font-size: 14px;
    margin: 0;
}

.rtBlock .operatorTxt {
    font-size: 12px;
    margin: 0;
}

.rtBlock--day--assigned {
    background-color: var(--day--assigned);
    border: 1px solid var(--day--completed);
}

.rtBlock--day--unassigned {
    background-color: var(--unassigned);
    border: 1px solid var(--day--completed);
}

.rtBlock--day--completed {
    background-color: var(--day--completed);
    color: #FFFFFF;
    border: none;
}

.rtBlock--night--assigned {
    background-color: var(--night--assigned);
    border: 1px solid var(--night--completed);
}

.rtBlock--night--unassigned {
    background-color: var(--unassigned);
    border: 1px solid var(--night--completed);
}

.rtBlock--night--completed {
    background-color: var(--night--completed);
    color: #FFFFFF;
    border: none;
}

.rtBlock--day--disabled, .rtBlock--night--disabled {
    background-color: var(--disabled);
}

.rtBlock--day--missed, .rtBlock--night--missed {
    background-color: var(--missed);
    color: #FFFFFF;
    border: none;
}

/* Popover */
.routePopover {
    padding: 5%;
}
