.background-container {
	background: #E5E5E5;
	width: 143%;
	height: 100%
}

.date {
	margin-left: 27px;
}

.day-display {
	width: 200px;
	font-family:  'Lato', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 36px;
	color: #3A423E;
}

.week-numebr-display {
	height: 30px;

	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;

	color: #7A827F;
}

.overviewTable {
	padding: 7px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: #3A423E;
	text-align: left;
	max-width: 25px;
}

.overviewNumber {
	font-family: 'Lato';
	font-weight: bold;
	font-size: 16px;
	color: #3A423E;
	text-align: left;
}

.tableFrame {
	margin-left: 16px;
}


h4 {
	height: 29px;
	margin-left: 23px;
	margin-top: 23px;
	margin-bottom: 10px;

	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	/* identical to box height */

	color: #3A423E;
}
